*{
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    nav{
        display: flex;
        justify-content: space-between;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: #F2A65E;
        align-items: center;
    }
    main{
        flex: 1;
        background-color: #FDF5E6;
    }
    footer{
        background-color: #F2A65E;

    }
}
nav a{
    font-size: 2vw;     margin: 10px;
    color: #4A322E !important;;
}

.logo{
    width: 10%;
    height: auto;
    margin-left: 10px;
    padding: 0;
}

.PerroNavbar{
    margin: 0;
    padding: 0;
    width: 12%;
    height: auto;
    
}